@using Microsoft.Owin.Security

<!DOCTYPE HTML>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <link href="~/Content/AppCss/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="~/Content/AppCss/reset.css" rel="stylesheet" />
    <link href="~/Content/AppCss/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/Content/AppCss/custom.css" rel="stylesheet" />
    <link href="~/Content/effect-hover-item/hover.css" rel="stylesheet" />
    <link href="~/Content/AppCss/jquery.scrolltop.css" rel="stylesheet" />
    <!--webfont-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
    <script src="~/Scripts/AppScripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/AppScripts/jquery-ui.js"></script>
    <script src="~/Scripts/AppScripts/jquery.scrolltop.js"></script>
</head>
<body>
    <div class="header">
        <header id="top" role="banner">
            <div class="nav-header">
                <div class="nav-content">
                    <div class="nav-join-button">
                        <a href="@Url.Action("Index", "Home")">ThoConShop.VN</a>
                    </div>
                    <ul class="nav-left">
                        <li><a href="http://nicklm.com/napthe">Nạp thẻ</a></li>
                        <li></li>
                    </ul>
                    <ul class="nav-right">
                        <li></li>
                        <li>
                            @using (Html.BeginForm("ExternalLogin", "User", new { ReturnUrl = Url.Action("Index", "Home") })) {
                            @Html.AntiForgeryToken()
                            <div id="socialLoginList">
                                <p>
                                    <button type="submit" class="" id="" name="provider" value="Facebook">Đăng Nhập Bằng FB</button>
                                </p>
                            </div>
                            }
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mobile_nav">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                    <a href="@Url.Action("ExternalLogin", "User", new { ReturnUrl = Url.Action("Index", "Home") })">Đăng nhập FB</a>
                </div>
                <nav id="bs-navbar" class="collapse navbar-collapse">
                    <ul class="navbar-nav no-margin">
                        <li><a href="http://nicklm.com/">Trang chủ</a></li>
                        <li>
                            <a href="@Url.Action("ExternalLogin", "User", new { ReturnUrl = Url.Action("Index", "Home") })">Đăng nhập/đăng ký</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="title_top text-center row no-margin">
            <div class="col-lg-12" align="center">
                <div class="col-lg-4 col-centered" style="min-height: 300px">
                </div>
                <div class="col-lg-4 col-centered">

                </div>
            </div>
        </div>
        <div class="hr"></div>
    </div>
    <div class="main">
        <div class="content_top">
            <div class="container back-ground-color-container">
                @RenderBody()
                <div class="row">
                    <div class="footer img-responsive">
                        <div class="container">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="scrolltop custom-scrolltop"><i class="fa fa-chevron-up"></i></a>
    <script>
    $(document).ready(function() {
        $.scrolltop();
    });
    </script>
</body>
</html>		