@using System.Globalization
@using PagedList.Mvc
@model PagedList.IPagedList<ThoConShop.Business.Dtos.AccountDto>
@{
        CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-US"
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
                <a href="@Url.Action("Edit", new { accountId = item.Id })">
                    <div class="caption">
                        <h4>Acc trắng thông tin</h4>
                        <h4>Rank: @item.RankName</h4>
                        <h4>Tướng: @item.NumberOfChamps</h4>
                        <h4>Skin: @item.NumberOfSkins</h4>
                    </div>
                    <span class="header-item">@item.Title</span>
                    <div class="body-item" align="center">
                        <img src="@item.Avatar" alt="..." class="img-responsive">
                    </div>
                </a>
            </div>
            <div class="col-xs-12 footer-item clearfix">
                <div class="col-xs-5 col-md-6 no_padding">
                    <ul>
                        <li>Rank: @item.RankName</li>
                        <li>Tướng: @item.NumberOfChamps</li>
                        <li>Skin: @item.NumberOfSkins</li>
                    </ul>
                </div>
                <div class="col-xs-7 col-md-6 stay_right footer-item-right">
                    <p class="">
                        @item.Price.ToString("#,###", cul.NumberFormat)<sup>đ</sup>
                    </p>
                    @using (Html.BeginForm("SellAccount", "Account", FormMethod.Post, new { id = "formSell"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("AccountId", item.Id)
                        <button type="submit" class="btn" >Mua Ngay</button>
                    }
                </div>

            </div>
        </div>
    }
</div>
@*<div class="row">
    <div class="col-md-12 body-pagging">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>*@

<script src="~/Scripts/Custom/Index.js"></script>