@using System.Globalization
@model ThoConShop.Web.Models.AccountEditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}

@{
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-US"
}
<div class="ov-top masthead">
    <div class="container text-center">
        <h1 class="c-hero__title u-text-gradient">@Model.CurrentAccount.Title</h1>
        <h5>Mã số <span>@Model.CurrentAccount.Id</span> giá <span>@Model.CurrentAccount.Price.ToString("#,###", cul.NumberFormat)</span>đ</h5>


        <div class="btn btn-danger">Nick này đã được bán</div>
        <br> <img src="@Model.CurrentAccount.Avatar" alt="@Model.CurrentAccount.Title" title="@Model.CurrentAccount.Title">
    </div>
    <div class="clearfix"></div>
    <div class="note container text-center">
        <div class="col-sm-4 hidden-xs"> 
            <img src="~/Images/LCU_AlphaWebsite_Overview_Image1.png" style="border: 0; width: 100%" />        
        </div>
        @*<div class="col-sm-8">
                <p class="text-left">
                    <span style="font-size: 16px;">
                        ♥ Ngay sau khi mua nick. Bạn cần vào <a href="http://platform.garena.vn/" title="Đổi mật khẩu Garena" target="_blank">trang quản lý tài khoản Garena</a> để thêm thông tin (email, số đt).<br>
                        ♥ Tham gia <a href="https://www.facebook.com/groups/NickLM" target="_blank">nhóm Facebook NickLM</a> để được hỗ trợ.<br>
                        ♥ Tất cả nick ở đây đều do mình bỏ tiền ra mua và bán lại lấy lãi. Mình ko hề chiếm đoạt của ai. Nick trôi nổi trên mạng vì vậy mình không thể xác minh nguồn gốc. Nếu bạn là chủ sở hữu cũ của nick này, chỉ cần gửi 1 hình ảnh trước kia bạn chơi, mình sẽ giảm giá 20% để bạn mua lại tài khoản.<br>

                    </span><br>

                </p>
            </div>*@
    </div>
</div>
<div class="hr"></div>
<div class="container assembly_view">
    <div class="col-md-12">
        <h2 class="c-hero__title u-text-gradient">ACC trắng thông tin. Còn 1 RP 1738 IP </h2>
    </div>
</div>
<div class="hr"></div>
<div class="container assembly_view">
    <div class="col-md-12">
        @if (Model.CurrentAccount.Skins != null)
        {
            <h2 class="c-hero__title u-text-gradient"> Danh sách <span>@Model.CurrentAccount.Skins.Count</span> trang phục</h2>
            foreach (var skin in Model.CurrentAccount.Skins)
            {
                <div class="col-sm-2 col-xs-6 skin-champion">
                    <img class="ass_img hinhanh trangphuc" src="@skin.Avatar" alt="@skin.SkinName">
                    <div class="news_price">@skin.SkinName</div>
                </div>
            }
        }
      
    </div>
</div>
<div class="hr"></div>
<div class="container assembly_view">
    <div class="col-md-12">
        @if (Model.CurrentAccount.Champions != null)
        {
            <h2 class="c-hero__title u-text-gradient">Danh sách <span>@Model.CurrentAccount.Champions.Count</span> tướng</h2>
            foreach (var champ in Model.CurrentAccount.Champions)
            {
                <div class="col-sm-2 col-xs-6 skin-champion">
                    <img class="ass_img hinhanh tuong" src="@champ.Avatar" alt="Aatrox">
                    <div class="news_price" style="margin-right: 1px; margin-left: 1px; width: 82%">@champ.ChampionName</div>
                </div>
            }
        }

    </div>
</div>
<div class="hr"></div>
<div class="container assembly_view">
    <div class="col-md-12">
        <h2 class="c-hero__title u-text-gradient" style="text-align: center; margin-bottom: 20px;">        Acc Cùng Đơn Giá    </h2>
        @foreach (var acc in Model.SuggestionAccounts)
        {
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <a href="#">
                        <div class="caption">
                            <h4>Acc trắng thông tin</h4>
                            <h4>Rank: Bạch Kim 5</h4>
                            <h4>Khung: Bạch Kim</h4>
                            <h4>Tướng: 120</h4>
                            <h4>Skin: 20</h4>
                            <h4>IP: 70000</h4>
                        </div>
                        <span class="header-item">@acc.Title</span>
                        <div class="body-item" align="center">
                            <img src="@acc.Avatar" alt="..." class="img-responsive">
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 footer-item clearfix">
                    <div class="col-xs-5 col-md-6 no_padding">
                        <ul>
                            <li>Rank: @acc.RankName</li>
                            <li>Tướng: 120</li>
                            <li>Skin: 17</li>
                        </ul>
                    </div>
                    <div class="col-xs-7 col-md-6 stay_right footer-item-right">
                        <p class="">
                           @acc.Price.ToString("#,###", cul.NumberFormat)<sup>đ</sup>
                        </p>
                        <button class="btn">Mua Ngay</button>
                    </div>

                </div>
            </div>
        }

    </div>
</div>
<div class="hr-gold-double-fade"></div>

