@using System.Globalization
@model ThoConShop.Web.Models.AccountEditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}

@{
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-US"
}

@section meta
{
    <meta property="fb:app_id" content="1668227693490054" />
    <meta property="og:url" content="@Request.Url.ToString()" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.CurrentAccount.Title" />
    <meta property="og:description" content="Acc Liên Minh Số #@Model.CurrentAccount.Id.ToString() Truất'sss, Tại ShopThoCon.VN" />
    <meta property="og:image" content="@Model.CurrentAccount.Avatar" />
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta property="og:site_name" content="@Request.Url.ToString()" />
    <title>Acc số #@Model.CurrentAccount.Id</title>
}

<div class="ov-top masthead">
    <div class="container text-center">
        <h1 class="c-hero__title u-text-gradient">@Model.CurrentAccount.Title</h1>
        <h5>Acc <span>#@Model.CurrentAccount.Id</span> giá <span>@Model.CurrentAccount.Price.ToString("#,###", cul.NumberFormat)</span>đ</h5>

        @if (Model.CurrentAccount.IsAvailable)
        {
            using (Html.BeginForm("SellAccount", "Account", FormMethod.Post, new { id = "formSell" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("AccountId", Model.CurrentAccount.Id)

                <button type="submit" class="btn btn-danger">Mua Ngay</button>
             }
          }

          else
          {
            <div class="btn btn-danger">Nick này đã được bán</div>
          }

        
        <br> <img src="@Model.CurrentAccount.Avatar" alt="@Model.CurrentAccount.Title" title="@Model.CurrentAccount.Title">
    </div>
    <div class="clearfix"></div>
    <div class="note container text-center">
        <div class="col-sm-4 hidden-xs"> 
            <img src="~/Images/LCU_AlphaWebsite_Overview_Image1.png" style="border: 0; width: 100%" />        
        </div>
        @*<div class="col-sm-8">
                <p class="text-left">
                    <span style="font-size: 16px;">
                        ♥ Ngay sau khi mua nick. Bạn cần vào <a href="http://platform.garena.vn/" title="Đổi mật khẩu Garena" target="_blank">trang quản lý tài khoản Garena</a> để thêm thông tin (email, số đt).<br>
                        ♥ Tham gia <a href="https://www.facebook.com/groups/NickLM" target="_blank">nhóm Facebook NickLM</a> để được hỗ trợ.<br>
                        ♥ Tất cả nick ở đây đều do mình bỏ tiền ra mua và bán lại lấy lãi. Mình ko hề chiếm đoạt của ai. Nick trôi nổi trên mạng vì vậy mình không thể xác minh nguồn gốc. Nếu bạn là chủ sở hữu cũ của nick này, chỉ cần gửi 1 hình ảnh trước kia bạn chơi, mình sẽ giảm giá 20% để bạn mua lại tài khoản.<br>

                    </span><br>

                </p>
            </div>*@
    </div>
</div>

<div class="hr"></div>
<div class="container assembly_view">
    <div class="col-md-12">
        @if (Model.CurrentAccount.Skins != null)
        {
            <h2 class="c-hero__title u-text-gradient"> Danh sách <span>@Model.CurrentAccount.Skins.Count</span> trang phục</h2>
            foreach (var skin in Model.CurrentAccount.Skins)
            {
                <div class="col-sm-2 col-xs-6 skin-champion">
                    <img class="ass_img hinhanh trangphuc" src="@skin.Avatar" alt="@skin.SkinName">
                    <div class="news_price">@skin.SkinName</div>
                </div>
            }
        }
      
    </div>
</div>
<div class="hr"></div>
<div class="container assembly_view">
    <div class="col-md-12">
        @if (Model.CurrentAccount.Champions != null)
        {
            <h2 class="c-hero__title u-text-gradient">Danh sách <span>@Model.CurrentAccount.Champions.Count</span> tướng</h2>
            foreach (var champ in Model.CurrentAccount.Champions)
            {
                <div class="col-sm-1 col-xs-4 skin-champion">
                    <img class="ass_img hinhanh tuong" src="@champ.Avatar" alt="Aatrox">
                    <div class="new-champs" style="margin-right: 1px; margin-left: 1px; text-align: center; color:#ffffff">@champ.ChampionName</div>
                </div>
            }
        }

    </div>
</div>
<div class="hr"></div>
<div class="container assembly_view">
    <div class="col-md-12">
        <h2 class="c-hero__title u-text-gradient">Chi Tiết Trang Ngọc</h2>
        @if (Model.CurrentAccount.NumberOfPageGems != null)
        {
            foreach (var gem in Model.CurrentAccount.NumberOfPageGems)
            {
                <img src="@gem.ImageUrl" class="img-responsive" style="margin-bottom: 10px;" />
            }
        }
    </div>
</div>
<div class="hr"></div>
<div class="container assembly_view">
    <div class="col-md-12">
        <h2 class="c-hero__title u-text-gradient" style="text-align: center; margin-bottom: 20px;">        Acc Cùng Đơn Giá    </h2>
      @if (Model.SuggestionAccounts == null || Model.SuggestionAccounts.Count == 0)
      {
          <div class="col-lg-12" align="center">
              <span>Không tìm thấy Acc nào cũng đơn giá.</span>
          </div>
          
      }
      else
      {
        foreach (var acc in Model.SuggestionAccounts)
        {
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <a href="#">
                        <div class="caption">
                            <h4>Acc trắng thông tin</h4>
                            <h4>Rank: @acc.RankName</h4>
                            <h4>Tướng: @acc.NumberOfChamps</h4>
                            <h4>Skin: @acc.NumberOfSkins</h4>
                            <h4>Bảng Ngọc: @acc.NumberOfPageGem</h4>
                        </div>
                        <span class="header-item">Acc #@acc.Id</span>
                        @if (acc.CreatedDate.Month == DateTime.Now.Month
         && acc.CreatedDate.Year == DateTime.Now.Year
         && (DateTime.Now.Day - acc.CreatedDate.Day) <= 5)
                        {
                            <span class="header-item-right">Mới</span>
                        }
                        <div class="body-item" align="center">
                            <img src="@acc.Avatar" alt="..." class="img-responsive">
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 footer-item clearfix">
                    <div class="col-xs-5 col-md-6 no_padding">
                        <ul>
                            <li>Rank: @acc.RankName</li>
                            <li>Tướng: @acc.NumberOfChamps</li>
                            <li>Skin: @acc.NumberOfSkins</li>
                        </ul>
                    </div>
                    <div class="col-xs-7 col-md-6 stay_right footer-item-right">
                        <p class="" style="font-weight: bold;">
                            @acc.Price.ToString("#,###", cul.NumberFormat)<sup>đ</sup>
                        </p>
                        <button type="submit" class="sa-lpbbtn">Mua Ngay</button>
                    </div>

                </div>
            </div>
        }
      }

    </div>
</div>
<div class="hr-gold-double-fade"></div>

<script src="~/Scripts/Custom/Index.js"></script>