@using PagedList.Mvc
@using ThoConShop.Business.Dtos
@model ThoConShop.Web.Models.AccountIndexViewModel
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{ 

}

@Html.HiddenFor(a => Model.CurrentRankFilter)
@Html.HiddenFor(a => Model.CurrentPriceFilter)
@Html.HiddenFor(a => Model.CurrentSkinFilter)

<div class="row filter">
    <div class="col-md-12 filter-back-ground">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle filter-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @if (Model.CurrentRankFilter == null)
                {
                    <span>Tìm Theo Rank</span> <span class="caret"></span>
                }
                else
                {
                    <span>@Model.RanksFilter.SingleOrDefault(a => a.Id == Model.CurrentRankFilter).RankName</span> <span class="caret"></span>
                }
                
            </button>

            <ul class="dropdown-menu">
                @foreach (var rankFilter in Model.RanksFilter)
                {
                    <li>@Html.ActionLink(rankFilter.RankName, "Index", new { CurrentRankFilter = rankFilter.Id, CurrentPriceFilter = Model.CurrentPriceFilter, CurrentSkinFilter = Model.CurrentSkinFilter })</li>
                }
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle filter-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @if (string.IsNullOrEmpty(Model.CurrentPriceFilter))
                {
                    <span>Tìm Theo Giá</span> <span class="caret"></span>
                }
                else
                {
                    <span>@Model.CurrentPriceFilter</span> <span class="caret"></span>
                }
            </button>
            <ul class="dropdown-menu">
                @foreach (var price in Model.PriceFilter)
                {

                    <li>@Html.ActionLink(price, "Index", new { CurrentPriceFilter = price, CurrentRankFilter = Model.CurrentRankFilter, CurrentSkinFilter = Model.CurrentSkinFilter })</li>
                }
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle filter-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @if (Model.CurrentSkinFilter == null)
                {
                    <span> Tìm Theo Trang Phục</span> <span class="caret"></span>
                }
                else
                {
                    <span>@Model.SkinsFilter.SingleOrDefault(a => a.Id == Model.CurrentSkinFilter).SkinName</span> <span class="caret"></span>
                }
            </button>
            <ul class="dropdown-menu">
                @foreach (var skin in Model.SkinsFilter)
                {
                    <li>@Html.ActionLink(skin.SkinName, "Index", new { CurrentSkinFilter = skin.Id, CurrentRankFilter = Model.CurrentRankFilter, CurrentPriceFilter = Model.CurrentPriceFilter })</li>
                }
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn btn-default filter-button" href="@Url.Action("Index")">
                Clear
            </a>
        </div>
    </div>
</div>

@Html.Partial("_bodyIndex", Model.DataSource)

<div class="row">
    <div class="col-md-12 body-pagging">
        @Html.PagedListPager(Model.DataSource, page => Url.Action("Index", new { page, CurrentRankFilter = Model.CurrentRankFilter, CurrentPriceFilter = Model.CurrentPriceFilter, CurrentSkinFilter = Model.CurrentSkinFilter }))
    </div>
</div>
