@using PagedList.Mvc
@using ThoConShop.Business.Dtos
@using ThoConShop.DataSeedWork.NewsService
@model ThoConShop.Web.Models.AccountIndexViewModel
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap3-typeahead.min.js"></script>
@{ 

}

@section meta{
    <meta property="fb:app_id" content="1668227693490054" />
    <meta property="og:url" content="@Request.Url.ToString()" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="SHOP THỎ CON - BÁN ACC LIÊN MINH GIÁ RẺ - UY TÍN" />
    <meta property="og:description" content="Bán Nick Liên Minh Huyền Thoại Truất'sss No1 - Tại ShopThoCon.VN" />
    <meta property="og:image" content="http://s1.upanh123.com/2016/11/27/11887ffb3858.jpg" />
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta property="og:site_name" content="@Request.Url.ToString()" />
}

<!-- The Modal -->
<!-- The Modal -->
@if (!string.IsNullOrEmpty(Model.News))
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Thông Báo</h3>
                </div>
                <div class="modal-body" align="center">
                    <p>
                        @Html.Raw(Model.News)
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}

<div class="row filter">
    <div class="col-md-12 filter-back-ground">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle filter-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @if (Model.CurrentRankFilter == null)
                {
                    <span>Tìm Theo Rank</span> <span class="caret"></span>
                }
                else
                {
                    <span>@Model.RanksFilter.SingleOrDefault(a => a.Id == Model.CurrentRankFilter).RankName</span> <span class="caret"></span>
                }
                
            </button>

            <ul class="dropdown-menu">
                @foreach (var rankFilter in Model.RanksFilter)
                {
                    <li>@Html.ActionLink(rankFilter.RankName, "Index", new { CurrentRankFilter = rankFilter.Id, CurrentPriceFilter = Model.CurrentPriceFilter, CurrentSkinFilter = Model.CurrentSkinFilter, CurrentChampFilter = Model.CurrentChampFilter, CurrentOrderBy = Model.CurrentOrderBy })</li>
                }
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle filter-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @if (string.IsNullOrEmpty(Model.CurrentPriceFilter))
                {
                    <span>Tìm Theo Giá</span>
                    <span class="caret"></span>
                }
                else
                {
                    <span>@Model.CurrentPriceFilter</span>
                    <span class="caret"></span>
                }
            </button>
            <ul class="dropdown-menu">
                @foreach (var price in Model.PriceFilter)
                {

                    <li>@Html.ActionLink(price, "Index", new {CurrentPriceFilter = price, CurrentRankFilter = Model.CurrentRankFilter, CurrentSkinFilter = Model.CurrentSkinFilter, CurrentChampFilter = Model.CurrentChampFilter, CurrentOrderBy = Model.CurrentOrderBy })</li>
                }
            </ul>
        </div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { style = "display: inline-block;" }))
        {
            <div class="btn-group">
                @Html.Hidden("CurrentRankFilter", Model.CurrentRankFilter)
                @Html.Hidden("CurrentPriceFilter", Model.CurrentPriceFilter)
                @Html.Hidden("CurrentChampFilter", Model.CurrentChampFilter)
                @Html.Hidden("CurrentOrderBy", Model.CurrentOrderBy)

                <button type="button" style="border-radius: 4px;" class="btn btn-default dropdown-toggle filter-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @if (string.IsNullOrEmpty(Model.CurrentSkinFilter))
                {
                        <span>Tìm Theo Trang Phục</span>
                        <span class="caret"></span>
                    }
                    else
                    {
                        <span>@Model.CurrentSkinFilter</span>
                        <span class="caret"></span>
                    }
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" class="small" data-value="option1" tabIndex="-1">
                            <input type="text" id="skinFilter" placeholder="Nhập trang phục..." name="currentSkinFilter" class="typeahead form-control" data-provide="typeahead" autocomplete="off" value="@Model.CurrentSkinFilter">
                        </a>
                       
                    </li>

                </ul>
               
              
                <!-- END SEARCH RESULTS -->
               
            </div>
           
        }
        
        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { style = "display: inline-block;" }))
        {
            <div class="btn-group">
                @Html.Hidden("CurrentRankFilter", Model.CurrentRankFilter)
                @Html.Hidden("CurrentPriceFilter", Model.CurrentPriceFilter)
                @Html.Hidden("CurrentSkinFilter", Model.CurrentSkinFilter)
                @Html.Hidden("CurrentOrderBy", Model.CurrentOrderBy)

                <button type="button" style="border-radius: 4px;" class="btn btn-default dropdown-toggle filter-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @if (string.IsNullOrEmpty(Model.CurrentChampFilter))
                {
                        <span>Tìm Theo Tướng</span>
                        <span class="caret"></span>
                    }
                    else
                    {
                        <span>@Model.CurrentChampFilter</span>
                        <span class="caret"></span>
                    }
                </button>
                <ul class="dropdown-menu">


                    <li>
                        <a href="#" class="small" data-value="option1" tabIndex="-1">
                            <input type="text" id="champFilter" placeholder="Nhập tên tướng..." name="currentChampFilter" class="typeahead form-control" data-provide="typeahead" autocomplete="off" value="@Model.CurrentChampFilter">
                        </a>

                    </li>

                </ul>
                <script src="~/Scripts/bootstrap3-typeahead.min.js"></script>

                <!-- END SEARCH RESULTS -->
                <script src="~/Scripts/Custom/_accountSkin.js"></script>
            </div>

        }

        <div class="btn-group" style="float: right;">
            <button type="button" class="btn btn-default dropdown-toggle filter-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @if (string.IsNullOrEmpty(Model.CurrentOrderBy))
                {
                    <span>Sắp Xếp Theo</span>
                    <span class="caret"></span>
                }
                else
                {
                    <span>@Model.OrderByList[Model.CurrentOrderBy]</span>
                    <span class="caret"></span>
                }
            </button>
            <ul class="dropdown-menu">
                @foreach (KeyValuePair<string, string> order in Model.OrderByList)
                {
                    <li>@Html.ActionLink(order.Value, "Index", new { CurrentPriceFilter = Model.CurrentPriceFilter, CurrentRankFilter = Model.CurrentRankFilter, CurrentSkinFilter = Model.CurrentSkinFilter, CurrentChampFilter = Model.CurrentChampFilter, CurrentOrderBy = order.Key })</li>
                }
            </ul>
        </div>

        <div class="btn-group">
            <a class="btn btn-default filter-button" href="@Url.Action("Index")">
                Xóa Lọc
            </a>
        </div>
    </div>
</div>

@Html.Partial("_bodyIndex", Model.DataSource)

<div class="row">
    <div class="col-md-12 body-pagging">
        @Html.PagedListPager(Model.DataSource, page => Url.Action("Index", new { page, CurrentRankFilter = Model.CurrentRankFilter, CurrentPriceFilter = Model.CurrentPriceFilter, CurrentSkinFilter = Model.CurrentSkinFilter, CurrentChampFilter = Model.CurrentChampFilter, CurrentOrderBy = Model.CurrentOrderBy }))
    </div>
</div>
<script src="~/Scripts/Custom/_accountSkin.js"></script>