@using System.Globalization
@using PagedList.Mvc
@model PagedList.IPagedList<ThoConShop.Business.Dtos.AccountDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using ThoConShop.DataSeedWork.Extensions


<div class="card">

    <!-- BEGIN SEARCH HEADER -->
    <div class="card-head style-primary">
        <div class="tools pull-left" style="width: 40%;">
             @using (Html.BeginForm("AccountManagement", "Management", FormMethod.Get, new
    {
        role = "search"
    }))
    {

        <div class="col-lg-11 no-padding">
            <div class="form-group">
                <input type="text" style="background-color: white;" class="form-control" name="searchString" value="@ViewBag.SearchString" placeholder="Nhập mã số tài khoản cần tìm">
            </div>
        </div>
        <div class="col-lg-1 no-padding">
            <button type="submit" class="btn ink-reaction btn-primary"><i class="fa fa-search"></i></button>
        </div>
    }
        </div>
        <div class="tools pull-left" style="width: 40%;">
            @using (Html.BeginForm("ApplyAllEventPrice", "Management", FormMethod.Post, new
            {
                role = "search"
            }))
            {

                <div class="col-lg-11 no-padding">
                    <div class="form-group">
                       <select name="allEventPrice" style="background-color:white" class="form-control">
                           <option value="0">0%</option>
                           <option value="5">5%</option>
                           <option value="10">10%</option>
                           <option value="15">15%</option>
                           <option value="20">20%</option>
                           <option value="25">25%</option>
                           <option value="30">30%</option>
                           <option value="35">35%</option>
                           <option value="40">40%</option>
                           <option value="45">45%</option>
                           <option value="50">50%</option>
                       </select>
                    </div>
                </div>
                <div class="col-lg-1 no-padding">
                    <button type="submit" id="applyAll" class="btn ink-reaction btn-primary"><i class="md md-add-box"></i></button>
                </div>
            }
        </div>
        <div class="tools">
            <a class="btn btn-floating-action btn-default-light" href="@Url.Action("CreateOrUpdateAccount", "Management")"><i class="fa fa-plus"></i></a>
        </div>
    </div><!--end .card-head -->
    <!-- END SEARCH HEADER -->
    <!-- BEGIN SEARCH RESULTS -->
    <div class="card-body">
            <!-- BEGIN SEARCH NAV -->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Mã Số</th>
                                <th class="text-center">Trang Phục</th>
                                <th class="text-center">Tướng</th>
                                <th class="text-center">Bảng Ngọc</th>
                                <th>Giá</th>
                                <th>Ngày Cập Nhật</th>
                                <th>Rank</th>
                                <th>Bảng Ngọc</th>
                                <th>Trạng Thái</th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (var item in Model)
                           {
                            <tr>
                                <td>@item.Id</td>
                                <td class="text-center">@item.NumberOfSkins</td>
                                <td class="text-center">@item.NumberOfChamps</td>
                                <td class="text-center">@item.NumberOfPageGem</td>
                                <td>@item.Price.VietNameseMoneyFormat()</td>
                                <td>@item.CreatedDate.ToShortDateString()</td>
                                <td>@item.RankName</td>
                                <td>@item.NumberOfPageGem</td>
                                <td>@(item.IsAvailable ? "Chưa Bán" : "Đã Bán")</td>
                                <td class="text-right">
                                    <a href="@Url.Action("CreateOrUpdateAccount", "Management", new { accountId = item.Id })" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Sửa thông tin"><i class="fa fa-pencil"></i></a>
                                    <a id="deleteButton" href="@Url.Action("DeleteAccount", "Management", new { accountId = item.Id })" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Xóa"><i class="fa fa-trash-o"></i></a>
                                    @*<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Thêm Tướng/Trang Phục"><i class="md md-visibility"></i></a>*@
                                </td>
                            </tr>
                           }
                        </tbody>
                    </table>
                </div>
            </div><!--end .col -->
        <!-- END SEARCH NAV -->
        <div class="row">
            <div class="col-md-12 body-pagging">
                @Html.PagedListPager(Model, page => Url.Action("AccountManagement", "Management", new { page, searchString = ViewBag.SearchString }))
            </div>
        </div>
    </div><!--end .row -->
   
</div><!--end .card-body -->
    <!-- END SEARCH RESULTS -->