@using PagedList.Mvc
@model PagedList.IPagedList<ThoConShop.Business.Dtos.RankDto>
@{
    ViewBag.Title = "RankManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">

    <!-- BEGIN SEARCH HEADER -->
    <div class="card-head style-primary">
        <div class="tools pull-left">
            @using (Html.BeginForm("RankManagement", "Management", FormMethod.Post, new { @class = "navbar-search", role = "search" }))
            {
                <div class="form-group">
                    <input type="text" class="form-control" name="searchString" placeholder="Nhập tên Rank">
                </div>
                <button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
            }
            @*<form class="navbar-search" role="search">
               
            </form>*@
        </div>

        <div class="tools">
            <a class="btn btn-floating-action btn-default-light" href="@Url.Action("CreateRankView", "Management")"><i class="fa fa-plus"></i></a>
        </div>
    </div><!--end .card-head -->
    <!-- END SEARCH HEADER -->
    <!-- BEGIN SEARCH RESULTS -->
    <div class="card-body">
        <!-- BEGIN SEARCH NAV -->
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Hình</th>
                            <th>Tên Rank</th>
                            <th class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="@item.RankImage" class="img-responsive"/></td>
                                <td style="vertical-align: middle;">@item.RankName</td>
                                <td style="vertical-align: middle;" class="text-right">
                                    <a id="deleteButton" href="@Url.Action("DeleteRank", "Management", new { rankId = item.Id })" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Xóa"><i class="fa fa-trash-o"></i></a>
                                    @*<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Thêm Tướng/Trang Phục"><i class="md md-visibility"></i></a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div><!--end .col -->
        <!-- END SEARCH NAV -->
        <div class="row">
            <div class="col-md-12 body-pagging">
                @Html.PagedListPager(Model, page => Url.Action("RankManagement", "Management", new { page }))
            </div>
        </div>
    </div><!--end .row -->

</div><!--end .card-body -->
<!-- END SEARCH RESULTS -->

