@using PagedList.Mvc
@using ThoConShop.DataSeedWork.Extensions
@model PagedList.IPagedList<ThoConShop.Business.Dtos.UserDto>
@{
    ViewBag.Title = "UserManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">

    <!-- BEGIN SEARCH HEADER -->
    <div class="card-head style-primary">
        <div class="tools pull-left" style="width: 100%">
            @using (Html.BeginForm("UserManagement", "Management", FormMethod.Get, new
            {
                role = "search"
            }))
            {

                <div class="col-lg-3 no-padding">
                    <div class="form-group">
                        <input type="text" style="background-color: white;" class="form-control" name="searchString" value="@ViewBag.SearchString" placeholder="Nhập Email Cần Tìm">
                    </div>
                </div>
                <div class="col-lg-1 no-padding">
                    <button type="submit" class="btn ink-reaction btn-primary"><i class="fa fa-search"></i></button>
                </div>
            }
        </div>
    </div><!--end .card-head -->
    <!-- END SEARCH HEADER -->
    <!-- BEGIN SEARCH RESULTS -->
    <div class="card-body">
        <!-- BEGIN SEARCH NAV -->
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Email/Tên Tài Khoản</th>
                            <th>Khóa Đến Ngày</th>
                            <th>Số Dư</th>
                            <th>Số Point</th>
                            <th>Ngày Tham Gia</th>
                            <th class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(string.IsNullOrEmpty(item.Email) ? item.UserName : item.Email )</td>
                                <td>
                                    @if (!item.IsActive)
                                    {
                                        <span>Tài khoản đã bị khóa</span>
                                    }
                                    else
                                    {
                                        <span>Không bi khóa</span>
                                    }
                                </td>
                                <td>
                                    @using (Html.BeginForm("UpdateBalanceUser", "Management", FormMethod.Post))
                                    {
                                        <div class="col-lg-8">
                                            @Html.TextBox("Balance", item.Balance, new
                                       {
                                           @class = "form-control",
                                           type = "number"
                                       })
                                        </div>
                                        <div class="col-lg-4">
                                            <button type="submit" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Cập Nhật Số Dư"><i class="fa fa-pencil"></i></button>
                                        </div>
                                    }
                                  
                                    
                                </td>
                                <td>
                                    @using (Html.BeginForm("UpdatePointUser", "Management", FormMethod.Post))
                                    {
                                        <div class="col-lg-8">
                                            @Html.TextBox("Point", item.Point, new
                                       {
                                           @class = "form-control",
                                           type = "number"
                                       })
                                        </div>
                                        <div class="col-lg-4">
                                            <button type="submit" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Cập Nhật Số Dư"><i class="fa fa-pencil"></i></button>
                                        </div>
                                    }
                                   
                                </td>
                                <td>@item.CreatedDate.ToShortDateString()</td>
                                <td class="text-right">
                                    @if (item.IsActive)
                                    {
                                        <a href="@Url.Action("DeactiveOrActiveUser", "Management", new {userId = item.Id})" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Khóa thông tin"><i class="md md-lock"></i></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("DeactiveOrActiveUser", "Management", new {userId = item.Id})" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Khóa thông tin"><i class="md md-lock-open"></i></a>
                                    }
                                    <a id="deleteButton" href="@Url.Action("DeleteUser", "Management", new { userId = item.Id})" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Xóa"><i class="fa fa-trash-o"></i></a>
                                    @*<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Thêm Tướng/Trang Phục"><i class="md md-visibility"></i></a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div><!--end .col -->
        <!-- END SEARCH NAV -->
        <div class="row">
            <div class="col-md-12 body-pagging">
                @Html.PagedListPager(Model, page => Url.Action("UserManagement", "Management", new { page, searchString = ViewBag.SearchString }))
            </div>
        </div>
    </div><!--end .row -->

</div><!--end .card-body -->
<!-- END SEARCH RESULTS -->